<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devanda.vetshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vetshop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_vetshop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main"></activity>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".OnBoarding2" />
        <activity android:name=".OnBoarding1" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>